@use "sass:string";
@use '../abstracts' as *;


:root {
    /***** 
    START Color Palette
    *******/
    @each $color-group, $shades in $color-map {
        @each $shade, $value in $shades {
          --clr-#{$color-group}-#{$shade}: #{$value};
     }
    }

        /*****
        End COLOR PALETTE
        *****/

    /**Font Scale **/
    @each $step, $sizes in $font-scale {
        @each $size, $value in $sizes {
            --step-#{$size}: #{$value};
        }
    }
    /**End Font Scale **/
    /**Font Weights**/
    @each $font-size, $value in $font-weights {
        --fw-#{$font-size}: #{$value};
    }
    /**End Font Weights**/

     /**SPACING**/
     @each $space-size, $value in $spacing {
        $number: string.slice($space-size, 7);
        --space-#{$number}: #{$value};
    }
    /**End SPACING**/

   /**FONT SIZES**/
   --fs-top-level-heading: var(--step-5);
   --fs-mid-level-heading: var(--step-3);
   --fs-sub-level-heading: var(--step-2);
   --fs-body: var(--step-2);
   --fs-primary-links: var(--step-2);
   /**END FONT SIZES**/

   
 /**Shadows**/

 --shadow-color: 40deg 16% 52%;
 --shadow-elevation-low: 0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.14), 0.2px 0.2px 0.4px -0.5px hsl(var(--shadow-color) / 0.28), 0.5px 0.5px 1px -1px hsl(var(--shadow-color) / 0.41);
 --shadow-elevation-medium: 0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.14), 0.5px 0.6px 1.1px -0.3px hsl(var(--shadow-color) / 0.25), 1.1px 1.2px 2.2px -0.7px hsl(var(--shadow-color) / 0.36), 2.4px 2.6px 4.8px -1px hsl(var(--shadow-color) / 0.47);
 --shadow-elevation-high: 0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.12), 0.9px 1px 1.8px -0.1px hsl(var(--shadow-color) / 0.16), 1.6px 1.8px 3.3px -0.2px hsl(var(--shadow-color) / 0.2), 2.4px 2.7px 4.9px -0.4px hsl(var(--shadow-color) / 0.24), 3.4px 3.7px 6.8px -0.5px hsl(var(--shadow-color) / 0.28), 4.7px 5.1px 9.4px -0.6px hsl(var(--shadow-color) / 0.32), 6.4px 7.1px 12.9px -0.7px hsl(var(--shadow-color) / 0.36), 8.8px 9.7px 17.7px -0.9px hsl(var(--shadow-color) / 0.4), 12px 13.2px 24.1px -1px hsl(var(--shadow-color) / 0.44);
 /**END CUSTOM PROPS***/
   
 
//  --page-content-bgColor:var(--clr-background-400) ;
//  --page-content-txtColor: #171616;
//  --page-content-blockColor: #fff;
    
--site-bg:var(--clr-background-400);
--site-body:var(--clr-body-400);
--site-secondary:var(--clr-secondary-400);
--site-tertiary:var(--clr-tertiary-400);
}
